{% load static %}
{% block delete %}
    <style>
        .row {
            margin-top: 100px;
        }
    </style>
    <br>
    <div class="row">
        <div class="col-md-6">
            <div class="card card-body">
                <p>Êtes-vous sûr de vouloir supprimer "{{ item }}" ?</p>
                <form action="{% url 'del_client' item.utilisateurId %}" method="POST">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Supprimer</button>
                    <a href="{% url 'assistant' %}"><button type="button" class="btn btn-secondary">Annuler</button></a>
        
                </form>
            </div>       
        </div>  
    </div> 
{% endblock %}
